---
import DashboardLayout from "../layouts/DashboardLayout.astro";
import DashboardReact from "../components/Dashboard";
---

<DashboardLayout title="Dashboard">
  <div class="flex flex-1 flex-col">
    <h2 class="text-center">Listado de Comprobantes Recibidos</h2>
    <DashboardReact client:only />
  </div>
</DashboardLayout>
