---
import Layout from "../layouts/Layout.astro";
import Login from "../components/Login";
---

<Layout title="Portal Descargas SaciAPP">
  <main class="mx-auto
		w-full
		h-screen">
    <div
      class="grid grid-cols-1 md:grid-cols-3 w-full min-h-screen h-full"
    >
      <div class="col-span-2 bg-saciblue hidden md:block">imagen 1</div>
      <div class="flex items-center bg-sacilight justify-center">
        <Login client:load />
      </div>
    </div>
  </main>
</Layout>

<style></style>
