---
import Layout from "../layouts/Layout.astro";
import Login from "../components/Login.astro";
---

  <Layout title="Portal Descargas SaciAPP">
    <main class="mx-auto
		max-w-7xl
		min-h-screen">
      <div
        class="grid grid-cols-1 md:grid-cols-3 w-full min-h-screen h-full gap-4"
      >
        <div class="col-span-2 hidden md:block">imagen 1</div>
        <div class="flex items-center mb-20">
          <Login />
        </div>
      </div>
    </main>
  </Layout>

<style></style>
