---

---

<div class="flex flex-1 gap-9 items-end flex-row w-full">
  <div>
    <p class="text-gray-500 text-xs">&copy; Copyright 2023 MS WolQ</p>
  </div>

  <div class="flex flex-row gap-4">
    <a
      href="https://www.facebook.com/profile.php?id=61552866231199&mibextid=LQQJ4d"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-500 text-xs"
    >
      <img
        src="/facebook.svg"
        alt="facebook"
        class="w-4 h-4 inline-block hover:scale-150 transition delay-75 duration-150 ease-in-out"
      />
    </a>
    <a
      href="https://instagram.com/saciapp_ec"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-500 text-xs rounded-full"
    >
      <img
        src="/instagram.svg"
        alt="instagram"
        class="w-4 h-4 inline-block mr-1 hover:scale-150 transition delay-75 duration-150 ease-in-out  "
      />
    </a>
  </div>
</div>
