---
import Input from "./Input.astro";
---

<form class="rounded-xl p-5 border m-5">
  <div>
    <img src="/SaciApp.svg" class="bg-white py-2 px-5 rounded-lg" />
  </div>
  <!-- Email input -->
  <div class="relative mb-6 mt-5">
    <Input
      label="RUC"
      placeholder="Ingrese su RUC"
      id="ruc"
      name="ruc"
      type="text"
      props={{
        maxlength: "13",
        oninput: "this.value = this.value.replace(/[^0-9]/g, '')",
      }}
    />
  </div>

  <!-- Password input -->
  <div class="relative mb-6">
    <Input
      label="Contrase単a"
      placeholder="Ingrese su contrase単a"
      id="password"
      type="password"
      name="password"
    />
  </div>

  <div class="mb-6 flex items-center justify-between">
    <!-- Remember me checkbox -->
    <div class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]"></div>

    <!--Forgot password link-->
    <a href="#!">多Olvido su contrase単a?</a>
  </div>

  <!-- Login button -->
  <button
    id="btnlogin"
    class="rounded-xl py-2 px-4 bg-saciblue text-white hover:bg-saciblue/80 w-full"
  >
    Ingresar
  </button>

  <!-- Register link -->
</form>
<script>
  import API from "../Hooks/API.js";
  const btnlogin = document.getElementById("btnlogin");
  btnlogin.addEventListener("click", (e) => {
    e.preventDefault();
    const ruc = document.getElementById("ruc").value;
    const password = document.getElementById("password").value;
    API.login({ ruc, password }).then((res) => {
      console.log(res)
      if (res.status === 200) {
        window.location.href = "/dashboard";
      } else {
        alert("Credenciales incorrectas");
      }
    });
  });
</script>
