---
interface Props {
  title: string;
}
const { title } = Astro.props;
import Header from "../components/Heder";
import LeftBar from "../components/LeftBar";
---

<!doctype html>
<html lang="es" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <!--  <ValidateToken client:only /> -->
  <body class="h-screen bg-sacilight dark:bg-saciblack">
    <Header client:only />
    <div class="flex flex-row justify-stretch">
      <div class="border items-stretch hidden md:flex">
        <LeftBar client:only />
      </div>

      <div class="flex flex-1 p-2 border bg-sacilight dark:bg-saciblack text-gray-900 dark:text-white">
        <slot />
      </div>
    </div>
  </body>

  <style is:global>
    :root {
    }
    html {
      font-family: system-ui, sans-serif;
      color-scheme: light dark;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
